.header-container{
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-bottom: 1px solid #cecece;
    padding: 2rem 0rem 1rem 0rem;
    .header-title{
        font-weight: 500;
        font-size: 1rem;
        cursor: pointer;
    }
}