.candidate-portfolio-container{
    .portfolio-designs{

    }
    .portfolio-body-container{
        display: flex;
        margin-top: 2rem;
        .portfolio-preview-container{
            margin-left: 50%;
        }
    }
}